<a href="https://colab.research.google.com/github/Psyclophe/Data-Scientist/blob/main/ARIMA%20Model%20for%20Time%20Series%20Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels as sm
import sklearn as sl

In [20]:
url = 'https://raw.githubusercontent.com/Psyclophe/Data-Scientist/main/Dataset.csv'
df = pd.read_csv (url)
print('Shape of data',df.shape)
df.head(5)

Shape of data (204, 2)

        date     value
0   7/1/1991  3.526591
1   8/1/1991  3.180891
2   9/1/1991  3.252221
3  10/1/1991  3.611003
4  11/1/1991  3.565869

In [21]:
from statsmodels.tsa.stattools import adfuller
from numpy import log
result = adfuller(df.value.dropna())
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])

ADF Statistic: 3.145186
p-value: 1.000000