<a href="https://colab.research.google.com/github/Psyclophe/Data-Scientist/blob/main/Python_for_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
import scipy as sp
import statsmodels as sm
import sklearn as sl
import datetime
from pandas.core.indexes.datetimes import date

In [9]:
url = 'https://raw.githubusercontent.com/Psyclophe/python-for-data-analyst/main/dataset.csv'
df = pd.read_csv (url)
print('Shape of data',df.shape)
df.head(5)

Shape of data (27, 9)

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129