<a href="https://colab.research.google.com/github/Psyclophe/Data-Scientist/blob/main/Python_for_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np
import scipy as sp
import statsmodels as sm
import sklearn as sl
import datetime
from pandas.core.indexes.datetimes import date

In [2]:
url = 'https://raw.githubusercontent.com/Psyclophe/python-for-data-analyst/main/dataset.csv'
df = pd.read_csv (url, index_col='id')
print('Shape of data',df.shape)
df.head()

Shape of data (27, 8)

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [3]:
df.describe()

        favorites    retweets   mentions   followers    followees
count   26.000000   26.000000  26.000000   26.000000    27.000000
mean   280.538462   80.000000  15.423077  352.807692  1190.185185
std    153.377242   40.303846   9.596554  375.319493  1965.735995
min     23.000000   21.000000   1.000000   12.000000   129.000000
25%    139.250000   45.500000   8.250000   21.000000   258.000000
50%    305.500000   79.000000  16.000000  332.000000   351.000000
75%    422.500000  110.750000  23.500000  389.000000  1822.000000
max    500.000000  146.000000  29.000000  982.000000  9918.000000

In [7]:
df_filter = df.fillna({'retweets' :0, 'mentions':-1})
df_filter.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,-1.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [8]:
#df_filter = df.dropna()
#df_filter.head()

In [11]:
#df.favorites
df['favorites']

id
183721     23.0
183722    500.0
183723    190.0
183724    131.0
183725    113.0
183726    492.0
183727    158.0
183728      NaN
183729    198.0
183730    272.0
183731     43.0
183732    349.0
183733    467.0
183734     50.0
183735    418.0
183736    361.0
183737    346.0
183738    296.0
183739    315.0
183740    133.0
183741     92.0
183742    255.0
183743    432.0
183744    430.0
183745    424.0
183746    488.0
183747    318.0
Name: favorites, dtype: float64