<a href="https://colab.research.google.com/github/Psyclophe/Data-Scientist/blob/main/Python_for_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np
import scipy as sp
import statsmodels as sm
import sklearn as sl
import datetime
from pandas.core.indexes.datetimes import date

In [2]:
url = 'https://raw.githubusercontent.com/Psyclophe/python-for-data-analyst/main/dataset.csv'
df = pd.read_csv (url, index_col='id')
print('Shape of data',df.shape)
df.head()

Shape of data (27, 8)

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [3]:
df.describe()

        favorites    retweets   mentions   followers    followees
count   26.000000   26.000000  26.000000   26.000000    27.000000
mean   280.538462   80.000000  15.423077  352.807692  1190.185185
std    153.377242   40.303846   9.596554  375.319493  1965.735995
min     23.000000   21.000000   1.000000   12.000000   129.000000
25%    139.250000   45.500000   8.250000   21.000000   258.000000
50%    305.500000   79.000000  16.000000  332.000000   351.000000
75%    422.500000  110.750000  23.500000  389.000000  1822.000000
max    500.000000  146.000000  29.000000  982.000000  9918.000000

In [4]:
df_filter = df.fillna({'retweets' :0, 'mentions':-1})
df_filter.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,-1.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [5]:
df_filter = df.dropna()
#df_filter.head()

In [6]:
#df.favorites
df['favorites']

id
183721     23.0
183722    500.0
183723    190.0
183724    131.0
183725    113.0
183726    492.0
183727    158.0
183728      NaN
183729    198.0
183730    272.0
183731     43.0
183732    349.0
183733    467.0
183734     50.0
183735    418.0
183736    361.0
183737    346.0
183738    296.0
183739    315.0
183740    133.0
183741     92.0
183742    255.0
183743    432.0
183744    430.0
183745    424.0
183746    488.0
183747    318.0
Name: favorites, dtype: float64

In [7]:
df[['favorites', 'full_text']]

        favorites                                          full_text
id
183721       23.0  Flying home to run down from the power to comi...
183722      500.0                Today we commemorate and MNML Case.
183723      190.0       Today we have reached US$6.55 Billion TT$44‚Ä¶
183724      131.0  Faking It by Joel Atwell. Written by Other cou...
183725      113.0                                    Welcome back! üôå
183726      492.0  Contest: Win a fan of his ass. #thatisall Thanks!
183727      158.0                                 80's & friends! ‚úàÔ∏è
183728        NaN  Thank you guess how did I feel somewhat offend...
183729      198.0        OnePlus 8 international giveaway classifies
183730      272.0                Here it is.. Retweet this desperate
183731       43.0  Great to advertise during the year I tweeted a...
183732      349.0  Its been in love with the game with the origin...
183733      467.0                           Programming is the best!
183734       50.0                             I cannot believe this!
183735      418.0                             Buy this product NOW!!
183736      361.0  I have one is best color gradients: Just relea...
183737      346.0                                              PIC!!
183738      296.0                             hmmm feeling bad today
183739      315.0                          not feeling god right now
183740      133.0                        Programming is a hot topic!
183741       92.0                            Programming? i love it!
183742      255.0                                            WHAT???
183743      432.0                         Amazing video by Leonardo!
183744      430.0                                        Thanks man!
183745      424.0          There is nothing better than programming!
183746      488.0                                           BORED AF
183747      318.0  I do not know if i like programming or other t...

In [8]:
df.iloc[0]

full_text    Flying home to run down from the power to comi...
favorites                                                 23.0
retweets                                                   NaN
mentions                                                  10.0
country                                                ECUADOR
user                                             leonardokuffo
followers                                                389.0
followees                                                  258
Name: 183721, dtype: object

In [9]:
df.iloc[0:7]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258

In [10]:
df.iloc[[0, 2]]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129

In [11]:
df.loc[[183724, 183729]]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,MEXICO,pedrojuarez,12.0,129